{% extends "backend/base.html" %}
{% load static %}
{% block content %}

<div class="card" style="min-height: 83vh;">
	<div class="card-body ">
		<div class="text-center d-flex align-items-stretch justify-content-center">
			<div class="">
				<h2 style="font-weight: bold;">PERBANDINGAN METODE LVQ 1 DAN LVQ 2.1</br>
					STUDI KASUS : KANKER PAYUDARA
				</h2>
				<img class="img-fluid" style="margin: 20px;" src="{% static '/img/logo-uin.png' %}" alt="">
				<p style="font-size: 28px; margin-bottom: 0px;margin-top: 10px;"><strong>IKA AULIA ASSAJADAH</strong>
					(11451201914)
				</p>
				<P style="font-size: 28px; margin: 0;">UNIVERSITAS ISLAM NEGERI SULTAN SYARIF KASIM RIAU</P>
			</div>
		</div>
	</div>
</div>

{% endblock content %}